<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9vawAEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA/AIAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGRvbmc5OQAABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24iAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQueGN3b3Jrc3BhY2UAABQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAAKFTAAAAAAAACAAAAAQDAABP
		bQAAAAAAAAgAAAAEAwAAVm0AAAAAAAAIAAAABAMAAFhtAAAAAAAACAAAAAQD
		AACq+0UAAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEHDRXmxP7KeGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwkAAAAB
		AQAATUFDSU5UT1NIAAAACAAAAAQDAAAAkCIfOgAAAAgAAAAABAAAQcMHS9wE
		FHYkAAAAAQEAAEVGNUI5MEQ1LTlDNjEtNDk3MS04NUYwLTg4NzZCMDJFRDc3
		OBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
		AAAAAAEFAAD/AAAAAQIAADE0OTMxZjNlZDUzY2E0ZWQ0ZWM1MDM4NTcxYjg2
		MDYzNDExMGU1YzFlZmYwOTJkZTY0ZmI1MjE1NDNkMzE2Njc7MDA7MDAwMDAw
		MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBw
		bGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAwOTswMDAwMDAw
		MDAwNDVmYmFhOzQzOy91c2Vycy9kb25nOTkvbGlicmFyeS9hdXRvc2F2ZSBp
		bmZvcm1hdGlvbi91bnNhdmVkIHhjb2RlIGRvY3VtZW50Lnhjd29ya3NwYWNl
		AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAB8AAAAAAAAAAUQAADoAAAAAAAA
		ABAQAAAUAQAAAAAAAEAQAAAEAQAAAAAAAAIgAADgAQAAAAAAAAUgAABQAQAA
		AAAAABAgAABgAQAAAAAAABEgAACUAQAAAAAAABIgAAB0AQAAAAAAABMgAACE
		AQAAAAAAACAgAADAAQAAAAAAADAgAADsAQAAAAAAAAHAAAA0AQAAAAAAABHA
		AAAUAAAAAAAAABLAAABEAQAAAAAAAIDwAAD0AQAAAAAAAA==
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2021-06-29T06:21:22Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
